@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", "Poppins", sans-serif;
  background: #e5e5e5;
}

.p-rel {
  position: relative;
}

.p-absl {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-8 {
  font-size: 8px;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-400 {
  font-weight: 400;
}

.height-29 {
  height: 29px;
}

.height-100 {
  height: 100%;
}

.line-height-52 {
  line-height: 52px;
}

.line-height-27 {
  line-height: 27px;
}

.line-height-24 {
  line-height: 24px;
}

.vh-100 {
  height: 100vh;
}

.vh-80 {
  height: 80vh;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  color: unset;
  text-decoration: none;
}

.border {
  border: 1px solid #396df2;
}

.border-btm {
  border-bottom: 1px solid #dfe1e6;
  width: 327px;
}

.transparent {
  background-color: transparent;
}

.background-white {
  background: #fff;
}

.dodgerblue {
  color: #6070ff;
}

.slategray {
  color: #172b4d;
}

.black {
  color: #000;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-content-between {
  justify-content: space-between;
}

.pad-t-8 {
  padding-top: 8px;
}

.pad-top-158 {
  padding-top: 158px;
}

.pad-top-1em {
  padding-top: 1.5em;
}

.pad-top-2em {
  padding-top: 2.5em;
}

.pad-bottom-2em {
  padding-bottom: 2.5em;
}

.margin-left-6 {
  margin-left: 6px;
}

.margin-left-8 {
  margin-left: 8px;
}

.margin-left-12 {
  margin-left: 12px;
}

.margin-left-14 {
  margin-left: 14px;
}

.margin-left-16 {
  margin-left: 16px;
}

.margin-left-4e {
  margin-left: 4em;
}

.margin-left-5e {
  margin-left: 5em;
}

.margin-left-9e {
  margin-left: 9.25em;
}

.margin-left-8e {
  margin-left: 8em;
}

.margin-left-11e {
  margin-left: 11em;
}

.margin-top-12 {
  margin-top: 12px;
}

.margin-top-28 {
  margin-top: 28px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.pad-22 {
  padding: 12px 22px;
}

.pad-24 {
  padding: 12px 24px;
}

.pad-0 {
  padding: 16px 0 16px;
}

.pad-27 {
  padding: 16px 27px 16px;
}

.pad-36 {
  padding: 16px 36px 16px;
}

.border-bottom-radius-13e {
  border-bottom-left-radius: 13em;
}

.background-no-repeat {
  background-repeat: no-repeat;
}

.nav {
  top: 0;
  left: 0%;
  right: 0%;
  z-index: 1;
}

.ellipse-11 {
  background-image: url("/assets/Ellipse-11.png");
  width: 24px;
  height: 29px;
  top: 133px;
}

.ellipse-5 {
  background-image: url("/assets/Ellipse-5.png");
  width: 13px;
  height: 13px;
  left: 123.98px;
  top: 143.81px;
  transform: rotate(52.97deg);
}

.rectangle-7 {
  background-image: url("/assets/Rectangle-7.png");
  color: #6070ff;
  width: 26.46px;
  height: 23.73px;
  left: 127.18px;
  top: 136.59px;
}

.ellipse-8 {
  background-image: url("/assets/Ellipse-8.png");
  width: 15px;
  height: 15px;
  left: 214px;
  top: 110px;
}

.rectangle-4 {
  background-image: url("/assets/Rectangle-4.png");
  width: 75.02px;
  height: 66.58px;
  left: 81%;
  top: 110.79px;
}

.ellipse-3 {
  background-image: url("/assets/Ellipse-3.png");
  width: 47px;
  height: 105px;
  left: 87%;
  top: 149.24px;
}

.ellipse-15 {
  background-image: url("/assets/Ellipse-15.png");
  width: 15px;
  left: 53px;
  top: 570px;
}

.rectangle-5 {
  background-image: url("/assets/Rectangle-5.png");
  width: 68.06px;
  left: 41%;
  top: 570px;
}

.ellipse-4 {
  background-image: url("/assets/Ellipse-4.png");
  width: 20px;
  left: 52%;
  top: 570.1px;
}

.ellipse-13 {
  background-image: url("/assets/Ellipse-13.png");
  width: 30.1px;
  left: 83%;
  top: 540.44px;
}

.ellipse-12 {
  background-image: url("/assets/Ellipse-12.png");
  width: 24.14px;
  left: 86%;
  top: 528.69px;
}

.button {
  padding: 0 11px;
  border-radius: 6px;
}
